extends layout

block content
  h1= title
  //- | Your wallet id:  
  //- textarea#wallet-id(name="wallet-id", cols="30", rows="1", placeholder="hash of wallet") 
  form(action='/deploy', method='POST')
    label(for="type") Type 
      select#type(name="type")
        option(value="Employer") Employer
        option(value="Bounty Hunter") Bounty Hunter
    br
    label(for="walletId")  Wallet ID
      input#walletId(type='text', name='walletId', value='', placeholder="hash fo wallet id" required)  
    br
    label(for="gasLimit") Gas limit 
      input#gasLimit(type="number", name="gasLimit", value=2000 required) 
      |  Gwei
    br
    // only if employer is selected
    label(for="reward") Reward
        input#reward(type="number", name="reward", value='') 
        |  ETH
    // only if bounty hunter is selected
    br
    label(for="contractId") Contract ID
        input#reward(type="text", name="contractId", value='') 
    br
    label(for="methodId") Method name
        input#methodId(type="text", name="methodId", value='')
    br
    button(type="submit")  Execute transaction

  // We should have the following components:
  // select between test and production network
  // selector to find the file we should deploy (.sol)
  // Form for the following data:
  //  - whether we are employer or bounty hunter
  //  - ID of the wallet
  //  - Amount of gas to use
  //  - Reward to use (if employer)
  //  - contract id of the employer's contract (if bounty hunter)
  //  - name of the class
  // Descriptions of what the files and such should contain?
  // Project and specifications

